{
  "parser": "babel-eslint",
  "extends": [
    "react-app",
    "airbnb",
    "plugin:jsx-a11y/recommended",
    "prettier",
    "prettier/react"
  ],
  "plugins": [
    "jsx-a11y",
    "prettier"
  ],
  "rules": {
    "semi": 0,
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    ],
    "no-underscore-dangle": "off",
    "no-case-declarations": "off",
    "import/prefer-default-export": "off",
    "camelcase": "off",
    "react/prop-types": "off",
    "react/jsx-props-no-spreading": "off"
  }
}
